<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<!-- OGP設定 -->
<meta property="fb:app_id" content="672976592720249" />
<meta property="fb:admins" content="100001538665676" />
<meta name="twitter:card" value="summary_large_image" />
<meta name="twitter:site" value="@manabubannai" />
<meta name="twitter:creator" value="@manabubannai" />
<meta name="twitter:title" value="iSara[イサラ]｜バンコクのノマドエンジニア育成講座" />
<meta name="twitter:description" value="iSaraとは「稼ぐこと」にフォーカスしたエンジニア育成講座です。なお、iSaraで「基本的なプログラミングスキル」は教えません。基礎的なプログラミングスキルは無料で学べる時代。iSaraでは、基礎知識学習は事前課題とチャットサポートのみ。今なら月15万円稼げるまで永久サポート付きです。" />

<meta property="og:site_name" content="iSara[イサラ]｜バンコクのノマドエンジニア育成講座" />
<meta property="og:description" content="iSaraとは「稼ぐこと」にフォーカスしたエンジニア育成講座です。なお、iSaraで「基本的なプログラミングスキル」は教えません。基礎的なプログラミングスキルは無料で学べる時代。iSaraでは、基礎知識学習は事前課題とチャットサポートのみ。今なら月15万円稼げるまで永久サポート付きです。" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://isara.life/wp-content/uploads/2017/09/b5374742738b6aad6b6b2dc2aa973c52.png" />
<meta name="twitter:image" value="https://isara.life/wp-content/uploads/2017/09/b5374742738b6aad6b6b2dc2aa973c52.png" />
<!-- /OGP設定 -->

<!-- All in One SEO Pack 2.8 by Michael Torbert of Semper Fi Web Design[633,681] -->
<meta name="description"  content="iSara[イサラ]とは「稼ぐこと」にフォーカスしたエンジニア育成講座（実質０円）です。iSaraで「基本的なプログラミングスキル」は教えません。基礎的なプログラミングスキルは無料で学べる時代。iSaraでは、基礎知識学習は事前課題とチャットサポートのみ。さぁ、稼ぐスキルを身に着けましょう。" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" media="all">
<link rel="stylesheet" type="text/css" href="<%= rootPath %>css/<%= filename %>.css" media="all">
