<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<!-- All in One SEO Pack 2.8 by Michael Torbert of Semper Fi Web Design[633,681] -->
<meta name="description"  content="iSara[イサラ]とは「稼ぐこと」にフォーカスしたエンジニア育成講座（実質０円）です。iSaraで「基本的なプログラミングスキル」は教えません。基礎的なプログラミングスキルは無料で学べる時代。iSaraでは、基礎知識学習は事前課題とチャットサポートのみ。さぁ、稼ぐスキルを身に着けましょう。" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="<%= rootPath %>css/<%= filename %>.css" media="all">
