@charset "UTF-8";
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, code, del, em, img, small, strike, strong, sub, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ffffff;
  font-weight: bold;
  width: 210px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 6px;
}

.button:hover {
  background-color: #333333;
  color: #ffffff;
}

.button--primary {
  background-color: #00ff9c;
  color: #ffffff;
}

.tw-btn {
  width: 75px;
  height: 22px;
}

.tw-btn iframe {
  position: absolute !important;
  top: 8px;
  left: 12px;
}

form#OF_form1 {
  width: 100%;
  text-align: center;
}

form#OF_form1 input, form#OF_form1 textarea {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
}

form#OF_form1 textarea {
  height: 100px;
}

.wpcf7 .wpcf7-submit {
  background-color: #da6b64;
  color: #fff;
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
}

#OF_form1 input#OF_submit_btn1 {
  background-color: #da6b64;
  color: #fff;
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
  border: none;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

iframe.twitter-share-button {
  margin-bottom: -5px;
}

.txtl {
  font-size: 28px;
  font-weight: 600;
}

.txtm {
  font-size: 20px;
  font-weight: 600;
}

.txts {
  font-size: 16px;
  font-weight: 600;
}

.txtxs {
  font-size: 14px;
  font-weight: 300;
}

.brsp {
  display: none;
}

.brpc {
  display: block;
}

.yellowtxt {
  color: #ebb94d;
}

.whitetxt {
  color: #fff;
}

.container {
  overflow: hidden;
}

/* mod-wide */
.mod-yellowbrackets {
  margin: 0 auto;
  position: relative;
  max-width: 860px;
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-yellowbrackets:before, .mod-yellowbrackets:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-yellowbrackets:before {
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.mod-yellowbrackets:after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.mod-yellowbrackets-white:before {
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
}

.mod-yellowbrackets-white:after {
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.header {
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  height: 75px;
}

.header-inner {
  align-items: center;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  position: relative;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header-title {
  align-items: center;
  display: flex;
}

.header-logo {
  width: 128px;
}

.header-subtitle {
  font-weight: 600;
  margin-top: 20px;
  margin-left: 5px;
}

.header-contactBtn-pc {
  cursor: pointer;
  right: 0;
  top: 16px;
  color: #ffffff;
  padding: 11px 40px;
  background-color: #da6b64;
  border-radius: 25px;
}

.header-contactBtn-pc:hover {
  background-color: #d84940;
}

.mainvisual {
  padding-top: 84px;
  background-image: url("../img/main.jpg");
  background-position: center;
  height: 500px;
  display: table;
  width: 100%;
  background-size: cover;
}

.main-logo {
  width: 317px;
  margin-bottom: 20px;
}

.cover-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.conversion {
  background-color: #ebb94d;
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
}

.conversion-code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.conversion-btn {
  cursor: pointer;
  padding: 30px 120px;
  background-color: #da6b64;
  border-radius: 50px;
  color: #ffffff;
  margin: 45px auto;
  max-width: 1028px;
}

.conversion-btn:hover {
  background-color: #d84940;
}

.conversion-period {
  font-size: 21px;
  font-weight: 600;
}

.conversion-sns {
  display: table;
  text-align: center;
  margin: 0 auto;
  padding-left: 0;
}

.conversion-sns .conversion-sns-twitter,
.conversion-sns .conversion-sns-facebook {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}

.conversion-sns-twitter {
  margin-right: 5px;
}

.introduction {
  background-image: url(../img/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  text-align: center;
  padding: 40px 0;
  text-align: center;
}

.introduction-title {
  position: relative;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
}

.introduction-text {
  padding: 40px 0;
}

.introduction-text-item {
  margin-bottom: 2.4rem;
  font-weight: 300;
}

.introduction-text-underline {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about {
  padding: 0 0 40px 0;
  background-color: #fef5e0;
  text-align: center;
}

.about-icon {
  position: relative;
  top: -40px;
  color: #ffffff;
  background-color: #ebb94d;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.about-title {
  padding: 30px 0;
  margin-bottom: 40px;
}

.about-skills {
  max-width: calc(100% - 40px);
  margin: 30px auto;
  padding: 30px;
  background-color: #ffffff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.about-skills-item {
  padding: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
}

.step {
  background-image: url(../img/aboutsecondbg.jpg);
  background-color: #666666;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
}

.step-title {
  margin-bottom: 20px;
}

.step-subtitle,
.step-title {
  color: #ffffff;
}

.step-cardBox {
  display: flex;
  margin: 30px auto 0;
  width: calc(100% - 40px);
}

.step-card {
  padding: 30px 30px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 32%;
}

.step-card:nth-of-type(2) {
  margin: 0 1.5%;
}

.step-card-header {
  background-color: #ebb94d;
  border-radius: 5px;
}

.step-card-title {
  margin: 30px 0 15px;
}

.step-card-data {
  font-weight: 600;
}

.step-footer {
  padding: 40px 0;
  text-align: center;
  background-color: #016ea9;
  color: #ffffff;
}

.learning {
  text-align: center;
  padding: 40px 0;
}

.learning-title {
  margin-bottom: 35px;
}

.learning-subtitle {
  font-weight: 300;
}

.learning-list {
  display: flex;
  margin: 40px auto;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 860px;
}

.learning-list-image {
  width: 180px;
}

.merit {
  padding: 40px 0;
  background-color: #fef5e0;
  text-align: center;
}

.merit-inner {
  margin: 0 auto;
}

.merit-contents {
  display: flex;
  margin: 40px auto;
  max-width: 1170px;
  justify-content: space-between;
}

.merit-contents-active,
.merit-contents-practice,
.merit-contents-free {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 360px 180px;
  width: 360px;
}

.merit-contents-active {
  background-image: url(../img/learnfromfreelancer.jpg);
}

.merit-contents-practice {
  background-image: url(../img/learnfromprojects.jpg);
}

.merit-contents-free {
  background-image: url(../img/actuallyfree.jpg);
}

.merit-detail-title {
  padding-bottom: 8px;
}

.merit-contents-detail {
  text-align: left;
  margin-top: 188px;
}

.merit-detail-text {
  font-weight: 300;
}

.merit-support {
  max-width: calc(100% - 40px);
  background-color: #ffffff;
  padding: 40px 20px;
  margin: 40px auto;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.merit-support-text {
  margin-bottom: 10px;
}

.teacher {
  padding: 40px 0;
  text-align: center;
  background-color: #666666;
  background-image: url(../img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.teacher-title {
  margin: 20px auto 10px;
}

.teacher-subtitle {
  margin-bottom: 10px;
}

.teacher-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 780px;
  justify-content: space-between;
}

.teacher-list-item {
  width: calc(50% - 15px);
}

.teacher-detail {
  position: relative;
  padding: 40px;
  border: 3px solid #ffffff;
  margin-top: 200px;
}

.teacher-detail .txts {
  font-weight: 300;
  margin-bottom: 10px;
}

.txtleft {
  text-align: left;
}

.teacher-detail-image {
  top: -165px;
  left: 90px;
  border-radius: 50%;
  position: absolute;
}

.why {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #ffffff;
}

.why:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

.why-icon {
  color: #ebb94d;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.answer {
  padding: 40px 0;
  text-align: center;
}

.answer-title-head {
  margin-bottom: 10px;
}

.answer-title-body {
  margin-bottom: 40px;
}

.answer-contents {
  margin: 0 auto;
}

.answer-contents-item {
  display: flex;
  padding: 20px 2%;
}

.answer-contents-item dt {
  width: 30%;
}

.answer-contents-item dd {
  width: 66%;
}

.answer-contents-image {
  border: solid;
  border-color: #ebb94d;
  width: 100%;
}

.answer-contents-data {
  padding: 20px 0;
  margin-left: 30px;
  font-size: 18px;
  text-align: left;
  font-style: italic;
  color: #777777;
}

.answer-contents-data small {
  display: inline-block;
  margin-top: 8px;
  text-decoration: underline;
  font-size: 85%;
}

.lesson {
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  background-image: url(../img/classbg.jpg);
  background-position: center;
  background-size: cover;
}

.lesson-inner {
  padding: 40px 0;
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.lesson-list-wrapper {
  width: calc(50% - 15px);
  background-color: #ffffff;
  border: 2px solid #016ea9;
  padding: 0;
  border-radius: 5px;
}

.lesson-list-wrapper:first-child {
  margin-right: 30px;
}

.lesson-list-title {
  background-color: #016ea9;
  padding: 15px;
}

.lesson-list-item {
  color: #000000;
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;
}

.lesson-list-item:last-child {
  border-bottom: none;
}

.lessonbottom {
  background-color: #016ea9;
  padding: 40px 0;
  color: #ffffff;
  text-align: center;
}

.flow {
  text-align: center;
  padding: 40px 0;
}

.flow-img {
  max-width: 100%;
  margin: 40px 0;
}

.flow-box {
  display: flex;
  max-width: calc(100% - 40px);
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;
}

.flow-box-left {
  padding: 20px;
  width: 200px;
}

.flow-box-right {
  padding: 10px 0 0;
  text-align: left;
  width: calc(100% - 200px);
}

.flow-box-right-text {
  margin: 20px 0;
}

.flowline {
  max-width: 100%;
  margin: 0 auto;
}

.bangkok {
  background-image: url("../img/bangkokbg.jpg");
  background-color: #666666;
  background-position: center;
  background-size: cover;
  padding: 80px;
  color: #ffffff;
}

.bangkok-detail {
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.bangkok-title {
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.bangkok-list {
  margin: 20px 0;
}

.special {
  background-position: center calc(100% - 11px);
  background-repeat: no-repeat;
  background-size: 300px auto;
  padding: 40px 0;
  text-align: center;
  background-color: #f7c23c;
}

.special-title {
  margin-bottom: 40px;
}

.special-people {
  position: relative;
  bottom: -58px;
  width: 45%;
  background-color: #f7c23c;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 600;
}

.special-box {
  margin: 40px 0 0;
  padding: 40px 0;
  margin-top: 40px;
  border: 2px solid #ffffff;
  display: inline-block;
}

.special-box-list {
  display: flex;
  justify-content: space-around;
}

.specialpc img {
  margin: 10px;
  width: 250px;
  height: 250px;
}

.special-tokutenbox {
  padding: 15px;
  height: 210px;
  display: table-cell;
  vertical-align: middle;
}

.special-box-body {
  font-size: 14px;
}

.special-box-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.special-box-list-item {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  padding: 0;
  margin: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.specialdetail {
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/specialdetail.jpg");
  background-color: #666666;
  background-position: center;
  background-size: cover;
}

.specialdetail .txtl {
  margin-top: 20px;
  margin-bottom: 20px;
}

.specialdetail .txtm {
  margin-bottom: 40px;
}

.message {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1170px;
}

.message-title {
  margin: 20px 0 35px;
  text-align: center;
}

.message-subtitle {
  margin-bottom: 10px;
  text-align: center;
}

.message-contents {
  display: flex;
}

.message-contents-left-img {
  width: 200px;
}

.message-contents-right {
  margin-left: 30px;
  font-size: 14px;
  font-weight: normal;
}

.message-contents-right p {
  margin-bottom: 10px;
}

input,
textarea {
  widows: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
  background-color: #ffffff;
}

.wpcf7 .wpcf7-submit {
  background-color: #da6b64;
  color: #ffffff;
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
}

.contactform {
  background-color: #ebb94d;
  padding: 40px 20%;
  text-align: center;
}

.contactform .txtl {
  margin: 20px 0;
}

.form {
  margin-top: 40px;
}

.form-control {
  height: 55px;
  border: none;
  border-radius: 5px;
}

.formbtn {
  height: 55px;
  margin-top: 20px;
  background-color: #da6b64;
  color: #ffffff;
  padding: 10px 80px;
  border-radius: 50px;
}

.formbtn:hover {
  background-color: #d84940;
  color: #ffffff;
}

#OF_submit_btn1 {
  height: 55px !important;
}

.questions {
  padding: 40px 10%;
  text-align: center;
}

.questions .txtl {
  margin-bottom: 40px;
}

.questionslist {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  text-align: left;
}

.panel-default {
  border: none;
}

.questionsbody {
  border: none !important;
  background-color: #ffffff;
  padding: 20px;
}

.questionsheading {
  margin-top: 10px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5 !important;
}

.questionsheading .panel-title a {
  color: #000000;
}

.questionheading h4 a {
  cursor: pointer;
  display: block;
}

.questionstoggle a:after {
  content: "\f106";
  font-family: FontAwesome;
  float: right;
  color: #e5e5e5;
  font-size: 200%;
}

.questionstoggle a.collapsed:after {
  content: "\f107";
  font-family: FontAwesome;
  float: right;
  color: #e5e5e5;
  font-size: 200%;
}

.footerwrap {
  position: relative;
  padding: 40px 15px 20px 15px;
  background-color: #ececec;
  text-align: center;
}

.copyright {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.twitterbtn {
  display: inline-block;
}

.facebookbtn {
  display: inline-block;
}

.pagetop {
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
}

.fa-chevron-up {
  font-size: 30px;
}

.fa-question-circle-o:before {
  color: #016ea9;
}

@media (max-width: 768px) {
  #top {
    max-width: 768px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .txtl {
    font-size: 18px;
    font-weight: 600;
  }
  .txtm {
    font-size: 15px;
    font-weight: 600;
  }
  .txts {
    font-size: 12px;
    font-weight: 600;
  }
  .txtxs {
    font-size: 15px;
  }
  .mod-yellowbrackets {
    width: 95%;
    padding: 40px;
  }
  .header-title {
    width: 100%;
    position: relative;
  }
  .header-inner {
    margin: 0;
    padding: 0;
    max-width: 768px;
  }
  .header-logo {
    position: absolute;
    top: 0;
    left: 10px;
    width: 90px;
  }
  .header-subtitle {
    position: absolute;
    top: -50px;
    left: 10px;
  }
  .header-icon {
    display: block;
    margin: 0 auto;
  }
  .header-contactBtn-sp {
    width: 80px;
    padding: 9px 11px;
    background-color: #da6b64;
  }
  .header-contactBtn-sp a {
    font-size: 12px;
    font-weight: 100;
    color: #ffffff;
    margin-top: 5px;
    display: block;
    text-align: center;
  }
  .conversion-btn {
    width: 95%;
    margin: 25px auto;
    padding: 15px 20px;
  }
  .introduction {
    height: initial;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .step-cardBox {
    display: block;
  }
  .step-card {
    margin-top: 15px;
    width: 100%;
  }
  .step-card:nth-of-type(2) {
    margin: 15px 0 0;
  }
  .step-footer {
    padding: 20px 0;
  }
  .step-footer p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .learning-list {
    width: 100%;
  }
  .learning-list-image {
    width: calc(90%);
  }
  .merit {
    padding-bottom: 20px;
  }
  .merit-contents {
    display: block;
    padding: 0 15px;
    margin: -100px 0 70px;
  }
  .merit-contents-detail {
    padding-top: 120px;
    margin-top: 120px;
  }
  .merit-contents-active,
  .merit-contents-practice,
  .merit-contents-free {
    height: 120px;
    width: 100%;
    background-size: cover;
  }
  .merit-detail-title {
    margin: 10px 0 0;
    text-align: center;
  }
  .merit-support {
    padding: 20px;
    margin: 15px;
  }
  .merit-support-text.txts {
    font-size: 10px;
  }
  .merit-support-bottom {
    font-size: 10px;
    padding: 0 15px;
  }
  .teacher-list {
    padding: 0 10px;
  }
  .teacher-list-item {
    width: 100%;
  }
  .teacher-detail {
    margin-top: 120px;
  }
  .teacher-detail-image {
    top: -90px;
    left: calc(50% - 60px);
    width: 120px;
  }
  .answer {
    padding: 40px 0 0;
  }
  .answer-contents {
    padding: 0 15px;
  }
  .lesson-inner {
    display: block;
    padding: 0 15px;
  }
  .lesson-list-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
  .lessonbottom {
    padding: 20px 0;
  }
  .flow-img-sp {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .flow-title {
    margin: 20px 0 10px;
  }
  .flow {
    padding: 20px 15px;
  }
  .flow .panel-group {
    padding: 20px 0;
  }
  .flow .panel-group .panel {
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .flow .panel-default {
    cursor: pointer;
    background-color: #fef5e0;
    border: none;
  }
  .flow .panel-title {
    padding: 10px;
  }
  .flow .panel-title a {
    color: #000000;
  }
  .flow .flowheading {
    text-align: left;
  }
  .flow .panel-body {
    padding: 15px;
    text-align: left;
  }
  .flow .flowtoggle a:after {
    content: "\f106";
    font-family: FontAwesome;
    float: right;
    color: #000000;
    font-size: 200%;
  }
  .flow .flowtoggle a.collapsed:after {
    content: "\f107";
    font-family: FontAwesome;
    float: right;
    color: #000000;
    font-size: 200%;
  }
  .bangkok-title {
    font-size: 24px;
    text-align: center;
  }
  .bangkok {
    padding: 35px;
  }
  .bangkok .txtxs {
    font-size: 12px;
    font-weight: 300;
  }
  .special {
    padding: 40px 15px;
  }
  .special .sp .special-box-list {
    display: block;
  }
  .special .special-box {
    padding: 30px;
    margin-top: 0;
    width: 100%;
  }
  .special .specialspbox {
    display: flex;
  }
  .special .specialleft {
    width: 30%;
  }
  .special .specialright {
    padding: 12px 0;
    color: #ffffff;
  }
  .special .circle2 {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: #ebb94d;
    background-color: #fff;
  }
  .special .special-people {
    bottom: -18px;
  }
  .special-title {
    margin-bottom: 20px;
  }
  .specialdetail .txtm {
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  .message-contents {
    padding: 0 15px;
    display: block;
  }
  .message-contents-left-img {
    width: 100%;
  }
  .message-contents-right {
    margin: 20px 0 0;
  }
  .contactform {
    padding: 40px 15px;
  }
  .questions {
    padding: 40px 15px;
  }
  .questionsheading {
    padding: 5px;
  }
  .pagetop {
    bottom: 20px;
    right: 10px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .txtxs {
    font-size: 10px;
  }
  .merit-contents-detail {
    margin-top: 160px;
  }
  .merit-contents {
    margin-bottom: 120px;
  }
  .answer-contents-data {
    font-size: 12px;
    padding: 0;
  }
}
