@charset "UTF-8";
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, code, del, em, img, small, strike, strong, sub, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ffffff;
  font-weight: bold;
  width: 210px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 6px;
}

.button:hover {
  background-color: #333333;
  color: #ffffff;
}

.button--primary {
  background-color: #00ff9c;
  color: #ffffff;
}

.tw-btn {
  width: 75px;
  height: 22px;
}

.tw-btn iframe {
  position: absolute !important;
  top: 8px;
  left: 12px;
}

form#OF_form1 {
  width: 100%;
  text-align: center;
}

form#OF_form1 input, form#OF_form1 textarea {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
}

form#OF_form1 textarea {
  height: 100px;
}

.wpcf7 .wpcf7-submit {
  background-color: #da6b64;
  color: #fff;
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
}

#OF_form1 input#OF_submit_btn1 {
  background-color: #da6b64;
  color: #fff;
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
  border: none;
}

body, p, h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

h2, h3 {
  line-height: 40px;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

iframe.twitter-share-button {
  margin-bottom: -5px;
}

.txtl {
  font-size: 28px;
  font-weight: 600;
}

.txtm {
  font-size: 20px;
  font-weight: 600;
}

.txts {
  font-size: 16px;
  font-weight: 600;
}

.txtxs {
  font-size: 14px;
  font-weight: 300;
}

.brsp {
  display: none;
}

.brpc {
  display: block;
}

.yellowtxt {
  color: #ebb94d;
}

.whitetxt {
  color: #fff;
}

.container {
  overflow: hidden;
}

/* mod-wide */
.mod-yellowbrackets {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-yellowbrackets:before, .mod-yellowbrackets:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-yellowbrackets:before {
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.mod-yellowbrackets:after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.header {
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  height: 75px;
}

.header-inner {
  align-items: center;
  width: 1170px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  position: relative;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header-title {
  align-items: center;
  display: flex;
}

.header-logo {
  width: 128px;
}

.header-subtitle {
  font-weight: 600;
  margin-top: 20px;
  margin-left: 5px;
}

.header-contactBtn-pc {
  cursor: pointer;
  right: 0;
  top: 16px;
  color: #ffffff;
  padding: 11px 40px;
  background-color: #da6b64;
  border-radius: 25px;
}

.header-contactBtn-pc:hover {
  background-color: #d84940;
}

.mainvisual {
  padding-top: 84px;
  background-image: url("../img/main.jpg");
  background-position: center;
  height: 500px;
  display: table;
  width: 100%;
  background-size: cover;
}

.cover-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.conversion {
  background-color: #ebb94d;
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
}

.conversion-code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.conversion-btn {
  cursor: pointer;
  padding: 30px 120px;
  background-color: #da6b64;
  border-radius: 50px;
  color: #ffffff;
  margin: 45px auto;
  max-width: 1028px;
}

.conversion-btn:hover {
  background-color: #d84940;
}

.conversion-period {
  font-size: 21px;
  font-weight: 600;
}

.conversion-sns {
  display: table;
  text-align: center;
  margin: 0 auto;
  padding-left: 0;
}

.conversion-sns .conversion-sns-twitter,
.conversion-sns .conversion-sns-facebook {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}

.conversion-sns-twitter {
  margin-right: 5px;
}

.introduction {
  background-image: url(../img/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  text-align: center;
  padding: 40px 0;
  text-align: center;
}

.introduction-title {
  position: relative;
  margin: 0 auto;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
}

.introduction-text {
  padding: 40px 0;
}

.introduction-text-item {
  margin-bottom: 2.4rem;
  font-weight: 300;
}

.introduction-text-underline {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about {
  padding: 0 0 40px 0;
  background-color: #fef5e0;
  text-align: center;
}

.about-icon {
  position: relative;
  top: -40px;
  color: #ffffff;
  background-color: #ebb94d;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.about-title {
  padding: 30px 0;
  margin-bottom: 40px;
}

.about-skills {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 30px auto;
  padding: 30px;
  background-color: #ffffff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.about-skills-item {
  padding: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
}

.step {
  background-image: url(../img/aboutsecondbg.jpg);
  background-color: #666666;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
}

.step-title {
  margin-bottom: 20px;
}

.step-subtitle,
.step-title {
  color: #ffffff;
}

.step-cardBox {
  display: flex;
  margin-top: 30px;
}

.step-card {
  padding: 30px 30px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 32%;
}

.step-card:nth-of-type(2) {
  margin: 0 1.5%;
}

.step-card-header {
  background-color: #ebb94d;
  border-radius: 5px;
}

.step-card-title {
  margin: 30px 0 15px;
}

.step-card-data {
  font-weight: 600;
}

.middlebox img {
  padding: 30px;
}

.step-footer {
  padding: 40px 0;
  text-align: center;
  background-color: #016ea9;
  color: #ffffff;
}

.learning {
  text-align: center;
  padding: 40px 0;
}

.learning-title {
  margin-bottom: 35px;
}

.learning-subtitle {
  font-weight: 300;
}

.learning-list {
  display: flex;
  padding: 0;
  width: 860px;
}

.learning-list-image {
  width: 180px;
}

.merit {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
}

.learnformfreelancer,
.actuallyfree,
.learnfromprojects {
  width: 300px;
  height: 180px;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
}

.merit .container {
  margin-top: 40px;
}

.merit .container .row div p {
  text-align: left;
  font-weight: 300;
  margin: 8px 0;
}

.support {
  width: 1170px;
  min-width: calc(100% - 40px);
  background-color: #ffffff;
  padding: 40px 20px;
  margin: 40px auto;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.teacher {
  padding: 40px 0;
  text-align: center;
  background-color: #666666;
  background-image: url(../img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.teacherbox {
  padding: 0;
  max-width: 780px;
  margin: 0 auto;
}

.teacherbox img {
  position: relative;
  bottom: -35px;
  border-radius: 50%;
}

.detail {
  padding: 40px;
  border: 3px solid #ffffff;
}

.txtleft {
  text-align: left;
}

.detail .txts {
  font-weight: 300;
}

.circle2 {
  color: #ebb94d;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.why {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #ffffff;
}

.why:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

.answer {
  padding: 40px 0;
  text-align: center;
}

.answer .client.voice {
  padding: 20px 0;
  font-size: 18px;
  text-align: left;
  font-style: italic;
  color: #777777;
}

.answer .client.voice .col-xs-4 {
  padding-left: 0;
}

.answer .client.voice .col-xs-8 {
  padding-left: 0;
}

.answer .client.voice small {
  display: inline-block;
  margin-top: 8px;
}

.answer .client.voice p {
  margin-top: 15px;
}

@media only screen and (max-width: 479px) {
  .answer .client.voice p {
    font-size: 14px;
  }
}

.class {
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  background-image: url(../img/classbg.jpg);
  background-position: center;
  background-size: cover;
}

.classbox {
  padding: 40px 0;
  max-width: 780px;
  margin: 0 auto;
}

.classwrap {
  background-color: #ffffff;
  border: 2px solid #016ea9;
  padding: 0;
  border-radius: 5px;
}

.classwrap ul {
  padding: 0;
  margin: 0;
}

.class ul li {
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;
}

.class ul li:last-child {
  border-bottom: none;
}

.classbox .txtm {
  background-color: #016ea9;
  padding: 15px;
}

.classbox ul li {
  color: #000000;
}

.class .txtxs {
  color: #ffffff;
}

.classbottom {
  background-color: #016ea9;
  padding: 40px 0;
  color: #ffffff;
  text-align: center;
}

.classbottom .txtm {
  margin: 0;
}

.flow {
  text-align: center;
  padding: 40px 0;
}

.flowimg {
  max-width: 100%;
  margin: 40px 0;
}

.flowdetailsp {
  display: none;
}

.flowbox {
  width: 1170px;
  max-width: calc(100% - 40px);
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;
}

.flowbox p {
  margin: 20px 0;
}

.flowleft {
  float: left;
  padding: 20px;
  width: 200px;
}

.flowbox:nth-child(3) > .flowleft {
  margin-top: 40px;
}

.flowleft img {
  max-width: 100%;
}

.flowleft .txtm {
  font-size: 18px;
  margin-bottom: 0;
}

.flowright {
  overflow: hidden;
  text-align: left;
  padding: 10px 0 0;
}

.flowline {
  max-width: 100%;
  margin: 0 auto;
}

.bangkok {
  background-image: url("../img/bangkokbg.jpg");
  background-color: #666666;
  background-position: center;
  background-size: cover;
  padding: 80px;
  color: #ffffff;
}

.bangkokdetail {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.bangkok .txtl {
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.bangkoklist {
  margin: 20px 0;
}

.special {
  background-position: center calc(100% - 11px);
  background-repeat: no-repeat;
  background-size: 300px auto;
  padding: 40px 0;
  text-align: center;
  background-color: #f7c23c;
}

.specialh2 {
  margin-bottom: 40px;
}

.specialsp {
  display: none;
}

.specialbox {
  margin-top: 40pxp40;
  border: 2px solid #ffffff;
}

.specialpeople {
  position: relative;
  bottom: -58px;
  width: 45%;
  background-color: #f7c23c;
  margin: 0 auto;
}

.specialpc img {
  margin: 10px;
  width: 250px;
  height: 250px;
}

.specialdetail {
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/specialdetail.jpg");
  background-color: #666666;
  background-position: center;
  background-size: cover;
}

.specialdetail .txtl {
  margin-top: 20px;
  margin-bottom: 20px;
}

.specialdetail .txtm {
  margin-bottom: 40px;
}

.tokuten {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  padding: 0;
  margin: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.tokuten .tokutenbox {
  padding: 15px;
  height: 250px;
  display: table-cell;
  vertical-align: middle;
}

.tokuten .txts {
  font-size: 14px;
}

.tokutenbox .txtm {
  font-size: 24px;
  font-weight: 300;
}

.wpcf7 input,
.wpcf7 textarea {
  widows: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
  background-color: #ffffff;
}

.wpcf7 .wpcf7-submit {
  background-color: #da6b64;
  color: #ffffff;
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
}

.contactform {
  background-color: #ebb94d;
  padding: 40px 20%;
  text-align: center;
}

.contactform .txtl {
  margin: 20px 0;
}

.form {
  margin-top: 40px;
}

.form-control {
  height: 55px;
  border: none;
  border-radius: 5px;
}

.formbtn {
  margin-top: 20px;
  background-color: #da6b64;
  color: #ffffff;
  padding: 10px 80px;
  border-radius: 50px;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
}

.formbtn:hover {
  background-color: #d84940;
  color: #ffffff;
}

.questions {
  padding: 40px 10%;
  text-align: center;
}

.questions .txtl {
  margin-bottom: 40px;
}

.questionslist {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  text-align: left;
}

.panel-default {
  border: none;
}

.questionsbody {
  border: none !important;
  background-color: #ffffff;
  padding: 20px;
}

.questionsheading {
  padding: 20px;
  background-color: #ffffff;
  color: #000000 !important;
  border: 1px solid #e5e5e5 !important;
}

.questionheading h4 a {
  cursor: pointer;
  display: block;
}

.questionstoggle a:after {
  font-family: "Glyphicons Halflings";
  content: "\e113";
  float: right;
  color: #e5e5e5;
}

.questionstoggle a.collapsed:after {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.footerwrap {
  position: relative;
  padding: 40px 15px 20px 15px;
  background-color: #ececec;
  text-align: center;
}

.copyright {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.twitterbtn {
  display: inline-block;
}

.facebookbtn {
  display: inline-block;
}

.pagetop {
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
}

.fa-chevron-up {
  font-size: 30px;
}

.fa-question-circle-o:before {
  color: #016ea9;
}

@media screen and (max-width: 768px) {
  .txtl {
    font-size: 18px;
    font-weight: 600;
  }
  .txtm {
    font-size: 15px;
    font-weight: 600;
  }
}
