<% const rootPath = './'; const title =
'iSara[イサラ]｜バンコクのノマドエンジニア育成講座'; const filename = 'index';
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include(`./templates/_head`, { title, rootPath, filename }) -%>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-title">
          <img src="./img/isaralogo.png" class="header-logo" alt="iSara"/>
          <div class="header-subtitle txtxs">バンコクのノマドエンジニア育成講座</div>
        </div>
        <div class="header-contact">
          <div class="pc header-contactBtn-pc txtxs">
            お問い合わせ / 資料請求はこちら
          </div>
          <div class="sp header-contactBtn-sp">
            <img src="https://isara.life/wp-content/themes/isara_v2/img/form.png" />
            <a href="">資料請求</a>
          </div>
        </div>
      </div>
    </header>

    <main id="top">
      <!-- main visual -->
      <section class="mainvisual">
        <div class="cover-text text-center">
          <p class="txtl">プログラミングで<br>人生の安定を手に入れよう</p>
          <img src="./img/isaralogolarge.png" class="mainlogo" alt="iSara"/>
          <h1 class="txtm">バンコクのノマドエンジニア育成講座</h1>
        </div>
      </section>

      <!-- conversion -->
      <section class="conversion txtm">
        <p>まずは20日間で、<br/>月10万円稼げるスキルを手にいれよう。</p>
        <p><span class="conversion-code">※受講料金は実質0円です。詳しくは資料請求をどうぞ。</span></p>
        <div class="conversion-btn txtl">
          お問い合せ&資料請求は<br class="sp"/>こちら
        </div>

        <div class="conversion-period txtxs">
          <p>第三期生:2018年7月8日 ~ 2018年7月27日<br class="sp"/>※締め切りました</p>
          <p>第四期生:2018年12月3日 ~ 2018年12月22日<br class="sp"/>※締め切りました</p>
          <p>&nbsp;</p>
          <p>第五期生:資料請求受付中です</p>
        </div>
        <ul class="conversion-sns">
          <li class="conversion-sns-twitter">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
          </li>
          <li class="conversion-sns-facebook">
            <div id="fb-root"></div>
            <script async defer src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2"></script>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
          </li>
        </ul>
      </section>

      <!-- introduction -->
      <section class="introduction">
        <div class="mod-yellowbrackets txtl">
          <h2 class="introduction-title">エンジニアとして<br class="brsp" />本当の自由を手に入れるには?</h2>
        </div>

        <div class="introduction-text txtm">
          <p class="introduction-text-item">
            エンジニア需要の高まりに伴い、<br class="sp"/>プログラミングスクールが増えています。<br/>しかしそこでの学習の先は、<br class="sp"/>提携して決められた就職先に就職すること。
          </p>
          <p class="introduction-text-item">
            これで本当にいいのですか？<br/>日本人エンジニアはアメリカと較べて<br class="sp"/>給料が格段に低い。<br /><br class="brsp" />その理由がここにあり、<br class="sp"/>エンジニアは自分の給料を<br class="sp"/>コントロールすべきなのです。
          </p>
          <p class="introduction-text-item">
            スキルを身につけたエンジニアは、<br class="sp"/>人生をコントロールすることでより自由に、<br/>そこで必要なのが、<span class="introduction-text-underline">「稼ぐ力」</span>です。
          </p>
        </div>
      </section>

      <!-- about -->
      <section class="about">
        <div class="about-icon">ABOUT</div>
          <h2 class="about-title mod-yellowbrackets txtl">ノマドエンジニア育成講座<br/>iSara[イサラ]とは</h2>
          <p class="about-subtitle txtm">「稼ぐこと」にフォーカスした<br class="sp"/>エンジニア育成講座です。</p>
        <ul class="about-skills">
          <p class="txtm">
            稼げるエンジニアに必要な<br class="sp"/>5つのスキルとは?
          </p>
          <li class="about-skills-item">
            <img src="https://isara.life/wp-content/themes/isara_v2/img/skill.jpg"/>
            <p class="txtxs">基礎的な<br />プログラミングスキル</p>
          </li>
          <li class="about-skills-item">
            <img src="https://isara.life/wp-content/themes/isara_v2/img/sales.jpg"/>
            <p class="txtxs">案件獲得に必要な<br />営業力</p>
          </li>
          <li class="about-skills-item">
            <img src="https://isara.life/wp-content/themes/isara_v2/img/document.jpg"/>
            <p class="txtxs">見積り作成から<br />納品までの知識</p>
          </li>
          <li class="about-skills-item">
            <img src="https://isara.life/wp-content/themes/isara_v2/img/plusone.jpg"/>
            <p class="txtxs">自分の付加価値を<br />高めるスキル</p>
          </li>
          <li class="about-skills-item">
            <img src="https://isara.life/wp-content/themes/isara_v2/img/connection.jpg"/>
            <p class="txtxs">フリーランス同士の<br />横のつながり</p>
          </li>
        </ul>
      </section>

      <!-- step -->
      <section class="step">
        <h2 class="step-title txtl">iSaraで<br class="sp"/>「基本的なプログラミングスキル」は教えません</h2>
        <p class="step-subtitle txtm">基本的なプログラミングスキルは無料で学べる時代。</p>
        <p class="step-subtitle txtm">iSaraでは、基礎知識学習は<br class="sp"/><span class="yellowtxt">事前課題</span>と<span class="yellowtxt">チャットサポート</span>のみ。</p>

        <div class="step-cardBox">
          <div class="step-card">
            <p class="step-card-header txts">STEP.1</p>
            <p class="step-card-title txtxs">【バンコク渡航前1ヶ月】</p>
            <p class="step-card-data txts">事前課題で基礎知識を学ぶ</p>
          </div>
          <div class="step-card">
            <p class="step-card-header txts">STEP.2</p>
            <p class="step-card-title txtxs">【バンコク到着後】</p>
            <p class="step-card-data txts">実践的に稼ぐことに特化した学習</p>
          </div>
          <div class="step-card">
            <p class="step-card-header txts">STEP.3</p>
            <p class="step-card-title txtxs">【バンコク帰国後】</p>
            <p class="step-card-data txts">講座実践後の案件獲得サポート</p>
          </div>
        </div>
      </section>

      <!-- step-footer -->
      <section class="step-footer">
        <p class="txtm">スキルアップしてもフリーランスエンジニア<br class="sp" />として食べていくことは難しい<br />フリーランスには<span class="yellowtxt">プログラミングスキル以外</span>が大切。</p>
      </section>

      <!-- leaning -->
      <section class="learning">
        <h2 class="learning-title txtl">iSara<span class="txts">[イサラ]</span>で学べること</h2>
        <div class="learning-subtitle txtm">iSaraの学習では、エンジニアとして<br class="sp"/>「稼ぐ」ために必要な能力を身につけます。</div>
        <ul class="learning-list">
          <li class="learning-list-item">
            <img class="learning-list-image" src="./img/salesskill.jpg" alt="案件獲得に必要な営業力">
          </li>
          <li class="learning-list-item">
            <img class="learning-list-image" src="./img/knowledge.jpg" alt="見積もり作成から納品までの知識"/>
          </li>
          <li class="learning-list-item">
            <img class="learning-list-image" src="./img/skillup.jpg" alt="自分の付加価値を高めるスキル"/>
          </li>
          <li class="learning-list-item">
            <img class="learning-list-image" src="./img/freelanceconnection.jpg" alt="フリーランスの横のつながり"/>
          </li>
        </ul>
        <p class="txts">これらを考えるのがiSaraです。</p>
      </section>

      <!-- merit -->
      <section class="merit">
        <div class="merit-inner">
          <h2 class="mod-yellowbrackets txtl">
            <span class="txtm">他のプログラミングスクールと<br class="brsp" />ここが違う！</span><br />iSara[イサラ]の3つのメリット
          </h2>
          <div class="merit-contents">
            <div class="merit-contents-active">
              <div class="merit-contents-detail">
                <p class="txtm merit-detail-title yellowtxt"><b>現役フリーランスから学べる</b></p>
                <p class="txts merit-detail-text">他のプログラミングスクールとは違い、実際にフリーランスとして活動しているエンジニアが直接講師を勤めます。</p>
              </div>
            </div>
            <div class="merit-contents-practice">
              <div class="merit-contents-detail">
                <p class="txtm merit-detail-title yellowtxt"><b>実践を通じて学べる</b></p>
                <p class="txts merit-detail-text">フリーランスにとって最短の学習方法は「実践」。iSaraでは実案件を通して学びます。現役フリーランサーの案件サポートに加え、クラウドソーシングを活用。初心者の自分じゃ無理かと思うかもですが、現役のフリーランスがサポートしますので大丈夫。</p>
              </div>
            </div>
            <div class="merit-contents-free">
              <div class="merit-contents-detail">
                <p class="txtm merit-detail-title yellowtxt"><b>授業料が実質0円</b></p>
                <p class="txts merit-detail-text">講座費用248,000円以上の金額が稼げるまで「永久サポート延長」はあります。</p>
              </div>
            </div>
          </div>

          <div class="merit-support">
            <p class="merit-support-text txtl yellowtxt">さらに！帰国後もサポート付き</p>
            <p class="merit-support-text txtm">リモートワーカーのチームを作ることで<br class="sp" />受注率、受注単価は大幅に向上します。</p>
            <p class="merit-support-text txts">iSaraは講座が終わって終了ではありません。<br>参加メンバーのチャットグループを作り、帰国後も継続的に案件参加できるようになります。<br class="pc"/>また、チームで働くことで継続的に稼ぎやすい仕組みづくりも構築しております。</p>
          </div>

          <p class="merit-support-bottom txtxs">事前課題ができない人はお断りしております。<br class="sp" />iSaraでは、無料で学べるプログラミング基礎知識は教えません、事前課題一覧はメールで送りつつ、<br class="pc" />チャットサポートのみ、従って、本気で取り組まないと結果は出ません。</p>
        </div>
      </section>

      <!-- teacher-->
      <section class="teacher">
        <h2 class="teacher-title txtl"><i class="fa fa-id-card-o" aria-hidden="true"></i>運営メンバー</h2>
        <p class="teacher-subtitle txts">実際にフリーランスとして活躍している<br class="sp"/>エンジニアが直接教えます</p>

        <div class="teacher-list">
          <div class="teacher-list-item teacher-list-someya">
            <div class="teacher-detail">
              <img class="teacher-detail-image" src="./img/keisuke_someya.jpg" alt="染谷 佳佑">
              <p class="txts">フリーランス講師(代表)</p>
              <p class="txts">染谷 佳佑</p>
              <div class="txtleft">
                <p class="txts">ISARA (THAILAND)CO.,LTD.の代表です。学生起業の後にリクルートへ就職、その後独立し、海外移住しました。今はフリーランスとしてリモートワークで日本円を稼ぎ、外国通貨に変えて使い、海外を旅してます。営業、ブログPVアップ(最高月間150万PV)、ビジネス構築が専門です。</p>
              </div>
            </div>
          </div>
          <div class="teacher-list-item teacher-list-narita">
            <div class="teacher-detail">
              <img class="teacher-detail-image" src="./img/yuki.png" alt="成田　雄輝">
              <p class="txts">フリーランス講師（副代表）</p>
              <p class="txts">成田　雄輝</p>
              <div class="txtleft">
                <p class="txts">バンコクのシェアハウスのオーナーをやりながら一年の大半をタイで過ごしています。 大学時代から今に至るまでネットだけで生計を立てているので、自由歴だけは講師陣の中で最長です！母親がタイ人という事もありタイには精通してますので、こちらでの生活のサポートはお任せください！</p>
              </div>
            </div>
          </div>
          <div class="teacher-list-item teacher-list-otaki">
            <div class="teacher-detail">
              <img class="teacher-detail-image" src="./img/yuki.png" alt="染谷 佳佑">
              <p class="txts">フリーランスエンジニア</p>
              <p class="txts">大滝　昇平</p>
              <div class="txtleft">
                <p class="txts">月の半分は東京の会社にリモートで勤めつつ、フリーでも活動しているノマドWebディレクター兼エンジニアです。Laravel・WordPressでのWeb制作がコアスキル。会社員とフリーランス、２つの顔があるからこそ、両方の側面からお話できるかと思います。宜しくお願いします！</p>
              </div>
            </div>
          </div>
          <div class="teacher-list-item teacher-list-sakauti">
            <div class="teacher-detail">
              <img class="teacher-detail-image" src="./img/manabu.png" alt="坂内　学">
              <p class="txts">フリーランスエンジニア</p>
              <p class="txts">坂内　学</p>
              <div class="txtleft">
                <p class="txts">ITとセブ島とお酒を愛しています。新卒で海外就職して１１ヶ月後に退職。今は日本にいたり海外にいたりでゆるくフリーランスをしています。<br /><br />お仕事はWebマーケティングとプログラミングが専門領域です。</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- why -->
      <section class="why">
        <p class="why-icon">Q&A</p>
        <h2 class="txtl mod-yellowbrackets mod-yellowbrackets-white">ノマドエンジニアとして自由に稼ぐことは<br/>「本当に」可能なのか？</h2>
      </section>

      <!-- answer -->
      <section class="answer">
        <p class="answer-title-head txtl">実現可能です</p>
        <p class="answer-title-body txts">その証拠に第三者の声を聞いてみました。</p>
        <p class="answer-title-footer txtxs">実際にフリーランスエンジニアを採用する企業様から、<br class="sp"/>メッセージをいただきました。</p>
        <div class="answer-contents">
          <dl class="answer-contents-item">
            <dt><img src="./img/take.jpg" class="answer-contents-image"/></dt>
            <dd class="answer-contents-data">
              リモートワークという言葉がありますが、弊社では何も気にしません。エンジニアに求めるのは、快適なコミュニケーションと信頼と成果物のみ。<br/>
              <small>Kredo IT Abroad. Inc 代表取締役　横田　猛夫</small>
            </dd>
          </dl>
          <dl class="answer-contents-item">
            <dt><img src="./img/minami_sato.jpg" class="answer-contents-image"/></dt>
            <dd class="answer-contents-data">
              社内でスキルのある人材を採用するのは難しい、外部パートナーとして継続的に依頼できるフリーランスには助かっています。<br />
              <small>SAPEUR.Inc 代表取締役 佐藤 陽</small>
            </dd>
          </dl>
          <dl class="answer-contents-item">
            <dt><img src="./img/asada.jpg" class="answer-contents-image"/></dt>
            <dd class="answer-contents-data">
              プログラマーが足りていない時に外部リソースとして、フリーランスに発注しています。今はどこの会社でもエンジニアが不足していますね。<br />
              <small>株式会社 BeautifulWorks 代表取締役 浅田 百合</small>
            </dd>
          </dl>
        </div>
      </section>

      <!-- lesson -->
      <section class="lesson">
        <h2 class="txtl">iSara[イサラ]で学べる内容</h2>
        <p class="txts">渡航前の事前課題と渡航中に学べることの一覧です。</p>

        <div class="lesson-inner">
          <div class="lesson-list-wrapper">
            <p class="lesson-list-title txtm">渡航前の事前学習</p>
            <ul class="lesson-list txts">
              <li class="lesson-list-item">0から始めるプログラミング事前学習講座</li>
              <li class="lesson-list-item">参加者グループコミュニティ</li>
              <li class="lesson-list-item">チャットサポート</li>
              <li class="lesson-list-item">事前スカイプコンサル</li>
              <li class="lesson-list-item">環境構築の事前学習</li>
              <li class="lesson-list-item">jQueryの事前学習講座</li>
              <li class="lesson-list-item">Bootstrapの事前学習講座</li>
              <li class="lesson-list-item">稼ぐためのHTML/CSS講座</li>
              <li class="lesson-list-item">WordPressの事前学習講座</li>
            </ul>
          </div>
          <div class="lesson-list-wrapper">
            <p class="lesson-list-title txtm">バンコク渡航中</p>
            <ul class="lesson-list txts">
              <li class="lesson-list-item">フリーランス独立術講座</li>
              <li class="lesson-list-item">実際の実務案件をこなす</li>
              <li class="lesson-list-item">ノマドフリーランス体験</li>
              <li class="lesson-list-item">バンコク生活体験</li>
              <li class="lesson-list-item">クラウドソーシング活用講座</li>
              <li class="lesson-list-item">フリーランスのための営業講座</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- lessonbottom -->
      <section class="lessonbottom">
        <p class="txtm">講座費用248,000円以上の金額が稼げるまで「永久サポート延長」します。<br/>つまりリスク0で参加できます。</p>
      </section>

      <!-- flow -->
      <section class="flow">
        <h2 class="txtl"><i class="fa fa-laptop" aria-hidden="true"></i>受講の流れ</h2>
        <img src="./img/flow.jpg" class="flow-img"/>

        <!-- flow_PC　-->
        <div class="pc">
          <div class="flow-box">
            <div class="flow-box-left">
              <img src="./img/skypeconsulting.png"/>
              <p class="txtm">Skypeで<br />事前コンサル</p>
            </div>
            <div class="flow-box-right">
              <p class="flow-box-right-text txts">現在のスキルの状況、パソコンの環境説明、渡航での注意点を話します。</p>
              <p class="flow-box-right-text txts">簡単なテストあり</p>
              <p class="flow-box-right-text txtxs">iSaraでは受講料を稼げることを保証しています。従って事前コンサル時点で簡単なテストを実施し、場合によってはお断りをしています。(テスト内容はPCの基礎知識に関するテストですので、普段からパソコンを利用する方でしたら問題ありません。テストはもちろん無料ですので、まずはお問い合わせください。)</p>
            </div>
          </div>

          <img src="./img/flowline1.png" class="flowline"/>

          <div class="flow-box">
            <div class="flow-box-left">
              <img src="./img/preworks.png"/>
              <p class="txtm">事前課題の提出</p>
            </div>
            <div class="flow-box-right">
              <p class="flow-box-right-text txts">出発前の1ヶ月前に事前課題を送ります</p>
              <p class="flow-box-right-text txtxs">0から始めるプログラミング事前学習講座、環境構築の事前学習、jQueryの事前学習講座、Bootstrapの事前学習講座、PHP / Mysqlの事前講座</p>
              <p class="flow-box-right-text txts">課題が多いですが、ここで努力が必要です。プログラミングは高付加価値なスキルです。そのためには学習が必要です。回数無制限のチャットサポート付きですので、最初は努力してください。<br />また、参加者グループコミュニティも作成するので、横の繋がりでモチベーションを高めることができます。</p>
            </div>
          </div>

          <img src="./img/flowline2.png" class="flowline"/>

          <div class="flow-box">
            <div class="flow-box-left">
              <img src="./img/flight.png"/>
              <p class="txtm">現地に渡航</p>
            </div>
            <div class="flow-box-right">
              <p class="flow-box-right-text txts">到着日には空港までお出迎えし、初日のオリエンテーションを行います。<br />滞在先は空港からすぐの出来立てシェアハウス、美味しいタイ料理などもご紹介します。</p>
              <p class="flow-box-right-text txts">iSaraは『ノマド』フリーランス養成講座です。<br />楽しいノマド体験ができるよう、バンコクでの生活はこちらでサポートします。</p>
            </div>
          </div>

          <img src="./img/flowline1.png" class="flowline"/>

          <div class="flow-box">
            <div class="flow-box-left">
              <img src="./img/personwithlight.png"/>
              <p class="txtm">実案件を<br />通して学ぶ</p>
            </div>
            <div class="flow-box-right">
              <p class="flow-box-right-text txts">現役フリーランスが抱える案件に加え、クラウドソーシングを使って実案件をこなします。</p>
              <p class="flow-box-right-text txts">案件獲得のためのメールの書き方や、見積もりの仕方など、<br />他のプログラミングスクールでは教えてくれない実務スキルを学ぶことができます。</p>
              <p class="flow-box-right-text txtxs">*現役フリーランスがサポートします。</p>
            </div>
          </div>

          <img src="./img/flowline2.png" class="flowline"/>

          <div class="flow-box">
            <div class="flow-box-left">
              <img src="./img/jobsupport.png"/>
              <p class="txtm">帰国後の仕事獲得<br />サポート付き</p>
            </div>
            <div class="flow-box-right">
              <p class="flow-box-right-text txts">経験年数の少ないフリーランスが高単価で継続的に仕事受注するコツ、それがチームを組むことです。</p>
              <p class="flow-box-right-text txts">iSaraではフリーランスのコミュニティを形成し、帰国後のエンジニアでも継続的に稼げる仕組みを提供します。</p>
              <p class="flow-box-right-text txts">もちろん、個人で十分稼げるようになった場合はいつでも退会できますし、制限などは何もありません。</p>
            </div>
          </div>
        </div>

        <!-- SPのトグル -->
        <div class="sp">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading flowheading">
                <h4 class="panel-title accordion-toggle flowtoggle">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="txtm"><img src="./img/skypeconsulting.png"/>Skypeで事前コンサル</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body flowbody">
                  <p class="txts">現在のスキルの状況、パソコンの環境説明、渡航での注意点を話します。</p>
                  <p class="txts">簡単なテストあり</p>
                  <p class="txtxs">iSaraでは受講費以上を稼げることを保障しています。従って、事前コンサル時点で簡単なテストを実施し、場合によってはお断りをしております。（テストの内容はPCの基礎知識に関するテストですので、普段からパソコンを利用する方でしたら問題ありません。テストはもちろん無料ですので、まずはお問い合わせください。）</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading flowheading">
                <h4 class="panel-title accordion-toggle flowtoggle">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed txtm"><img src="https://isara.life/wp-content/themes/isara_v2/img/preworks.png"/>事前課題の提出</a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body flowbody">
                  <p class="txts">出発前の１ヶ月前に事前課題を送ります。</p>
                  <p class="txtxs">
                    ０から始めるプログラミング事前学習講座、環境構築の事前学習、jQueryの事前学習講座、Bootstrapの事前学習講座、PHP
                    / Mysqlの事前講座
                  </p>
                  <p class="txts">
                    課題は多いですが、ここで努力が必須です。プログラミングは高付加価値なスキルです。そのためには学習が必須です。回数無制限のチャットサポート付きですので、最初は努力してください。<br />また、参加者グループコミュニティも作成するので、横の繋がりでモチベーションを高めることもできます。
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading flowheading">
                <h4 class="panel-title accordion-toggle flowtoggle">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseThree"
                    class="collapsed txtm"
                    ><img
                      src="https://isara.life/wp-content/themes/isara_v2/img/flight.png"
                    />現地に渡航</a
                  >
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body flowbody">
                  <p class="txts">
                    到着日には空港でお出迎えし、初日のオリエンテーションを行います。滞在先は空港からすぐの出来たてシェアハウス。美味しいタイ料理などもご紹介します。
                  </p>
                  <p class="txts">
                    iSaraは『ノマド』フリーランス養成講座です。楽しいノマド体験ができるよう、バンコクでの生活はこちらでサポートします。
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading flowheading">
                <h4 class="panel-title accordion-toggle flowtoggle">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseFour"
                    class="collapsed txtm"
                    ><img
                      src="https://isara.life/wp-content/themes/isara_v2/img/personwithlight.png"
                    />実案件を通して学ぶ</a
                  >
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body flowbody">
                  <p class="txts">
                    現役フリーランスが抱える案件に加え、クラウドソーシングを使って実案件をこなします。
                  </p>
                  <p class="txts">
                    案件獲得のためのメールの書き方や見積りの仕方など、他のプログラミングスクールでは教えてくれない実務スキルを学ぶことができます。
                  </p>
                  <p class="txtxs">＊現役フリーランスがサポートします。</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading flowheading">
                <h4 class="panel-title accordion-toggle flowtoggle">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseFive"
                    class="collapsed txtm"
                    ><img
                      src="https://isara.life/wp-content/themes/isara_v2/img/jobsupport.png"
                    />帰国後の仕事獲得サポート付き</a
                  >
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body flowbody">
                  <p class="txts">
                    経験年数の少ないフリーランスが高単価で継続的に仕事受注するコツ、それがチームを組むことです。
                  </p>
                  <p class="txts">
                    iSaraではフリーランスコミュニティを形成し、帰国後のエンジニアでも継続的に稼げる仕組みを提供します。もちろん、個人で十分に稼げるようになった場合はいつでも脱退できますし、制限などは何もありません。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- bangok -->
      <section class="bangkok">
        <div class="bangkok-detail">
          <h2 class="bangkok-title txtl">なぜバンコクなのか?</h2>
          <p class="txtxs">ここまで見ると、iSaraは日本でも実現可能に見えます。<br />しかし、バンコクを選んだのには理由があります。</p>
          <div class="bangkok-list">
            <p class="txts">・プログラミングフリーランスの最先端</p>
            <p class="txts">・水準は日本と同じなのに、生活費が安い（毎月８万円ほど）</p>
            <p class="txts">・昼、夜共に遊びが充実（稼ぐモチベーションアップと息抜きにGOOD）</p>
            <p class="txts">・日本人が住みやすい（食事が美味しい / 気候が良い / 親日である）</p>
          </div>
          <p class="txtm">環境が大切、さらにこの価格が実現できるのが、バンコクなのです。</p>
        </div>
      </section>

      <!-- special -->
      <section class="special">
        <h2 class="special-title txtl">
          <i class="fa fa-gift" aria-hidden="true">iSara受講生への参加特典</i>
        </h2>
        <p class="txts">
          <span class="whitetxt">講座費用248,000円以上の金額が稼げるまでの<br class="sp"/>「永久サポート延長」</span>を追加します。<br class="sp" />つまり、<span class="whitetxt">実質0円</span>です。
        </p>
        <p class="special-people txts">iSaraは『実質0円』! <br class="sp" />さらなる特典もあります。</p>

        <div class="special-box">
          <div class="special-box-list">
            <div class="special-box-list-item">
              <div class="special-tokutenbox">
                <p class="special-box-title txtm yellowtxt">特典1</p>
                <div class="special-box-body txts">講座費用248,000円以上の金額が稼げるまで、「永久サポート延長」。リスク0で参加できます。</div>
              </div>
            </div>
            <div class="special-box-list-item">
              <div class="special-tokutenbox">
                <p class="special-box-title txtm yellowtxt">特典2</p>
                <div class="special-box-body txts">iSaraフリーランスコミュニティ参加権利。案件の紹介や、新施設OPENの際の優先利用権が受けられます。</div>
              </div>
            </div>
            <div class="special-box-list-item">
              <div class="special-tokutenbox">
                <p class="special-box-title txtm yellowtxt">特典3</p>
                <div class="special-box-body txts">講座参加後のシェアハウス利用権利(ドムアン空港至近のため。とても便利です)</div>
              </div>
            </div>
          </div>

          <div class="sp">
            <div class="specialspbox">
              <div class="specialleft">
                <p class="txtl circle2">特典1</p>
              </div>
              <div class="specialright">
                <p class="txts">
                  参加以上の金額が稼げるまで「永久サポート」参加費用は実質0円です。
                </p>
              </div>
            </div>
            <div class="specialspbox">
              <div class="specialleft">
                <p class="txtl circle2">特典２</p>
              </div>
              <div class="specialright">
                <p class="txts">
                  フリーランスエンジニアになる為の動画講義を無料プレゼント
                </p>
              </div>
            </div>
            <div class="specialspbox">
              <div class="specialleft">
                <p class="txtl circle2">特典3</p>
              </div>
              <div class="specialright">
                <p class="txts">
                  フリーランス講師による個別コンサル(渡航前の週1回)
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- specialdetail -->
      <section class="specialdetail">
        <p class="txtl">iSaraは<br class="brsp" />ボランティアではありません</p>
        <p class="txtm">ここまで見ると、実質0円で各種サポートもある、<br class="sp"/>特典が多すぎて逆に怪しい。<br class="pc"/>そう思われるかもしれません。<br>しかし、iSaraが目指すことは異なります。</p>
        <h2 class="txtl mod-yellowbrackets mod-yellowbrackets-white">月10万円稼げる<br class="sp" />エンジニアを排出し続ける。</h2>
        <p class="textm">最大の価値がこれです。<br />iSaraの卒業生が稼ぎ続けることで<br class="sp" />小さな経済が動き始めます。<br />ここに最大の価値があり、<br class="sp" />この講座はその序章にすぎません。</p>
      </section>

      <!-- message -->
      <section class="message">
        <h2 class="message-title txtl">創業者からのメッセージ</h2>
        <p class="message-subtitle txtm">
          <b>「一生物のスキル」を身につけ、<br class="sp"/>ノマドライフを楽しもう!</b>
        </p>
        <div class="message-contents">
          <div class="message-contents-left">
            <img src="./img/isoya.jpg" class="message-contents-left-img" alt=""/>
          </div>
          <div class="message-contents-right">
            <p>初めまして。「iSara（イサラ）」創業者の染谷佳佑と申します。</p>
            <p>iSaraの開講は、僕達講師陣にとってもとても大きな挑戦です。今回、参加者に圧倒的な価値提供をするために、超少人数制だからできる内容を用意しました。</p>
            <p>
              ・「プログラミングで稼ぐ」に特化した超実践的カリキュラム<br />
              ・フリーランスとして生計を立て、いつでも世界中を旅できるスキル、収入のある講師陣のみを厳選<br />
              ・講座参加者が24万8,000円の参加費以上を稼ぐまでの無期限サポート延長
            </p>
            <p>
              ここまでのカリキュラムを備えた講座は、世界で唯一iSaraだけでしょう。
              iSaraでプログラミングを学ぶことで、「一生ものの潰しが効くスキル」が間違いなく身につきます。
              もちろん勉強だけでなく、バンコクを楽しめるプログラムも用意しています！
            </p>
            <p>
              ３ヶ月間徹底的にサポートします。ぜひバンコクでお会いしましょう。
            </p>
          </div>
        </div>
      </section>

      <!-- contactform -->
      <div class="contactform" id="contactform">
        <h2 class="txtl">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>資料請求フォーム
        </h2>
        <p class="txts">まずは無料で資料請求からどうぞ</p>
        <br />

        <form action="" method="post" id="OF_form1">
          <input type="hidden" name="form_id" value="111228" />

          <input
            type="text"
            name="seimei1"
            value=""
            id="seimei1"
            placeholder="姓"
          />
          <br />
          <input
            type="text"
            name="seimei2"
            value=""
            id="seimei2"
            placeholder="名"
          />
          <br />
          <input
            type="text"
            name="mail"
            value=""
            style=""
            id="mail"
            placeholder="メールアドレス"
          />
          <br />
          <textarea
            name="note"
            cols="90"
            rows="12"
            placeholder="質問などはこちら(空欄でもOKです)"
          ></textarea>
          <div class="OF_center">
            <input
              class="OF_submit_btn1"
              id="OF_submit_btn1"
              type="button"
              value="　送　信　"
              onclick="OF_submit()"
            />
          </div>
          <!-- copyright表示は削除しないでください。-->
          <div
            id="copyright"
            style="color:#ecb94d; font-size:12px; text-align:center;"
          >
            Powered by
            <a
              href="http://form.orange-cloud7.net/"
              style="color:#ecb94d; font-size:12px; text-decoration:none"
              target="_blank"
              >メールフォーム 『オレンジフォーム』</a
            >
          </div>
        </form>
        <!-- [form end -->
      </div>

    <!-- questions -->
    <div class="questions">
      <h2 class="txtl"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>よくある質問</h2>

      <section class="questionslist">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFirst" class="collapsed txtm"><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i>プログラミングスキルは必要ですか？</a>
              </h4>
            </div>
            <div id="collapseFirst" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  いいえ、必要ありません。しかし、iSaraでは参加費以上の金額が稼げることを保障しています。 従って、事前通話面談時点で簡単なテストを実施し、場合によってはお断りをしております。この点だけはご了承ください。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSecond" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>参加費以上に稼げなかったらどうなりますか？
                </a>
              </h4>
            </div>
            <div id="collapseSecond" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  参加費である248,000円以上の金額をトータルで稼ぐまで、無期限でサポート延長いたします。（講座参加後、週30時間以上の実践をすることと、週１回の実践報告をすることが延長条件です。）きちんと学び実践すれば、フリーランスでも収入を作ることは十分に可能です。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>滞在中の宿泊先はどうなりますか？
                </a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">宿泊費用が必要ですが、iSara専用のシェアハウス・ホステルに宿泊することになりますので心配はありません。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>滞在中の食事どうなりますか？
                </a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  拠点となる新築シェアハウスの周辺に、50バーツ程度の（150円）安価な飲食店が多数あります。 日本食レストランもありますし、出前を取ることも可能です。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>追加でかかる費用はありますか？
                </a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  宿泊費（トータル20000円）と食費（一食150円程度）くらいです。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed txtm"><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i>就職、転職はできますか？</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  DODAの調査によると、2017年のエンジニアの求人倍率は7.5倍です。これは、人材不足が叫ばれる医療業界（医師：6倍、看護師：3倍）よりも高い数値です。ですのできちんとしたスキルを身につけることができれば、就職・転職には困らないはずです。元リクルートの転職のプロも運営スタッフとして参加しています。
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="collapsed txtm"><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i>フリーランスにならなければならないのですか？</a>
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">いいえ、必ずフリーランスにならないといけないわけではありません。 エンジニアの需要は右肩上がりで上がっていますので、スキルがあれば就職の間口も非常に大きいです。
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="collapsed txtm"><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i>ノマドワーカー的に世界を旅しながら働きたいです。可能ですか？</a>
              </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">きちんと努力し、スキルを身に着けることができれば可能です。 iSaraは、「好きなときに働き、好きなときに遊ぶ」という人生を送れる人を増やすために開講しました。
                  ちなみに、講師は全員ノマドワーカーとして、働きながら自由に世界中を旅しています。
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="collapsed txtm"><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i>学ぶプログラミング言語はなんですか？</a>
              </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">HTML / CSS / PHPを学びます。どの言語も需要が高いです。</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" class="collapsed txtm"><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i>将来的にwebサービス、アプリ、メディアを作りたいです。</a>
              </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">経験してる講師がいますよ。大丈夫です。</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" class="collapsed txtm"><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i>次回開催の予定はありますか？</a>
              </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">未定です。まずはお問合せください。</p>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>海外に出るのが初めてで不安です。
                </a>
              </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  講師陣が現地での生活をサポートしますので安心してください。ただしパスポート取得は必要です。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>タイ語、英語が一切話せません。参加可能でしょうか。
                </a>
              </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  タイ語スタッフ、英語スタッフがいるのでOKです。日本人、タイ人スタッフがおりますので、期間中のトラブル対応の心配は必要ありません。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse14" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>治安はどうですか？
                </a>
              </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  バンコクは、東南アジアや南アジアの他の国の都市部と比べると、街中も整備されており、非常に治安の良い街です。日本ほどではないですが、世界でも非常に治安の良い国として知られています。
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading questionsheading">
              <h4 class="panel-title accordion-toggle questionstoggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse16" class="collapsed txtm">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>パソコンは必要ですか？
                </a>
              </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
              <div class="panel-body questionsbody">
                <p class="txts">
                  Macをご準備ください。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    </main>

    <!-- footer -->
    <footer>
      <div class="footerwrap">
        <p class="copyright">
          バンコクのノマドエンジニア育成講座、iSara[イサラ]brCopyright&copy;
          <a href="https://isara.life/">iSara</a>
          All Rights Reserved.
        </p>
        <ul class="conversion-sns">
          <li class="conversion-sns-twitter">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
              data-show-count="false">Tweet</a>
          </li>
          <li class="conversion-sns-facebook">
            <div id="fb-root"> </div>
            <script async defer src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2"></script>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"
              data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
          </li>
        </ul>
        <br />
        <p class="copyright">
          Designed by
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            >Maya Ogi</a
          >
          / Developed by
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            >Kentaro Koga</a
          >
        </p>
      </div>
    </footer>

    <!-- pagetop -->
    <div class="pagetop" id="back_to_top">
      <a href="#top"><i class="fa fa-chevron-up" aria-hidden="true" style="color: #000"></i></a>
    </div>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
